<header id="headermove">
    <nav>
        <ul>
            <li><a href="#" routerLink="/home" routerLinkActive="active">HOME</a></li>
            <li><a href="#" routerLink="/projets" routerLinkActive="active">PROJETS</a></li>
            <li><a href="#" routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
        </ul>
    </nav>
    <div id="horizburgermenu">
        <div class="mobilehead">
            <button class="handle" (click)="showMobilemenu($event)"> <i class="fa fa-bars"></i> </button>
        </div>
        <div class="mobilenav">
            <ul id="hideTarget">
                <li><a href="#" routerLink="/home" (click)="showMobilemenu($event)"  routerLinkActive="active">HOME</a></li>
                <li><a href="#" routerLink="/projets" (click)="showMobilemenu($event)" routerLinkActive="active">PROJETS</a></li>
                <li><a href="#" routerLink="/contact" (click)="showMobilemenu($event)" routerLinkActive="active">CONTACT</a></li>
            </ul>
        </div>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
