<main>
  <div class="sectionprojects">
                          <div class="fanfare">
                              <a href="monstertruck.php"><img class="project" src="img/monsterimg1.png" alt="graficmonstertruck"></a>
                          </div> <span class="titulo"><p>Monster Truck<br>Agency</p><span class="infoduel"><a target="_blank" href="http://monstertruckagency.com/home"><p>Webdesign and Development</p></a></span></span> <span class="subtitulo"><p>A monster truck is a vehicle that was originally just a pickup truck that was modified with a larger suspension and larger tires.</p></span>
                          <a href="monstertruck.php"> <span class="plus">See case study</span></a>
                      </div>
</main>
